#clientes {
    .swiper-wrapper {
        display: flex;
        align-items: center;
    }

    img {
        max-width: 160px;
    }
}

#testimonios {
    .swiper {
        padding: 0;
    }

    .swiper-wrapper {
        padding: 30px 0;
    }

    .swiper-slide {
        transition: all 0.3s ease;
        transform: scale(0.8); /* Initial scale for all slides */
    }

    .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 50%;
        color: $white;
        width: 40px;
        height: 40px;

        &::after {
            @include font-size(1.3rem);
        }
    }

    .active {
        transform: scale(1); /* Scaled up size for center slide */
    }

    .card {
        background-color: #04415a;
        border: 3px solid $white;
        border-radius: 20px;
        color: $white;
        position: relative;
        box-shadow:
            2px 2px 4px rgba(0, 0, 0, 0.2),
            3px 3px 6px rgba(0, 0, 0, 0.1);

        .card-text {
            font-weight: normal;
        }

        .icon {
            border: none;
            border-radius: 50px;
            max-width: 50px;
        }

        .card-title {
            color: #97cafe;
            letter-spacing: normal;
        }

        .list-inline {
            display: flex;
        }

        .handle {
            color: #97cafe;
        }
    }
}

#blog {
    .swiper {
        padding: 0;
    }

    .swiper-wrapper {
        padding: 30px 0;
    }

    .swiper-slide {
        transition: all 0.3s ease;
        transform: scale(0.8); /* Initial scale for all slides */
    }

    .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 50%;
        color: $white;
        width: 40px;
        height: 40px;

        &::after {
            @include font-size(1.3rem);
        }
    }

    .active {
        transform: scale(1); /* Scaled up size for center slide */
    }

    .card {
        background-color: $white;
        color: $black;
        position: relative;

        .card-text {
            font-weight: normal;
        }

        .icon {
            border: none;
            border-radius: 50px;
            max-width: 50px;
        }

        .card-title {
            color: $secondary;
            letter-spacing: normal;
        }
    }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
    #testimonios {
        .swiper-slide {
            opacity: 0.6;
        }

        .swiper-slide.swiper-slide-active {
            transform: scale(1); /* Make active slide full size */
            opacity: 1; /* Make active slide fully visible */
        }

        .active {
            opacity: 1;
        }
    }

    #blog {
        .swiper-slide {
            opacity: 0.6;
        }

        .swiper-slide.swiper-slide-active {
            transform: scale(1); /* Make active slide full size */
            opacity: 1; /* Make active slide fully visible */
        }

        .active {
            opacity: 1;
        }
    }
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(xxl) {
}
